In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])

In [7]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [8]:
df[['Column1','Column3']]

      Column1  Column3
Row1        0        2
Row2        4        6
Row3        8       10
Row4       12       14
Row5       16       18

In [10]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [12]:
df.iloc[2:,1:]

      Column2  Column3  Column4
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [13]:
df.iloc[2:,1:].values

array([[ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [15]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [17]:
df[['Column1','Column2']].value_counts()

Column1  Column2
0        1          1
4        5          1
8        9          1
12       13         1
16       17         1
dtype: int64

In [19]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [25]:
df=pd.read_csv('test.csv')

In [26]:
df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [28]:
df.tail()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [30]:
df.shape

(4209, 377)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

In [32]:
df.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
df['X0'].value_counts()

ak    432
y     348
z     335
x     302
ay    299
t     293
o     246
f     213
w     198
j     171
n     167
aj    162
az    161
s     116
ap    108
al     88
h      64
d      61
e      48
v      40
ai     38
m      34
af     34
am     28
i      25
at     21
u      20
ba     19
a      18
b      13
k      12
ad     12
aq     11
aw     11
r      10
ax      8
l       6
bc      6
c       6
as      6
ao      5
au      5
g       3
p       1
ae      1
av      1
an      1
ag      1
bb      1
Name: X0, dtype: int64

In [37]:
df.corr()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,1.000000,-0.016166,-0.020253,0.043162,0.017910,-0.036099,0.005100,-0.024482,-0.021581,-0.010920,...,0.024007,-0.087891,0.004271,-0.002939,0.031762,0.012520,-0.021581,-0.001625,0.013948,0.026357
X10,-0.016166,1.000000,-0.002146,-0.039453,-0.035496,-0.120379,-0.003717,-0.007125,-0.013108,-0.014142,...,0.189023,-0.031817,-0.086214,-0.019498,-0.015262,-0.012561,-0.013108,-0.003035,-0.003717,-0.005681
X11,-0.020253,-0.002146,1.000000,-0.004369,-0.003931,0.017825,-0.000412,-0.000789,-0.001452,-0.001566,...,-0.010720,-0.003524,-0.010380,-0.002159,-0.001690,-0.001391,-0.001452,-0.000336,-0.000412,-0.000629
X12,0.043162,-0.039453,-0.004369,1.000000,0.283228,-0.245127,-0.007570,-0.014509,-0.016991,-0.028796,...,-0.148812,-0.064790,0.080843,-0.006747,-0.022720,-0.025578,-0.016991,-0.006180,-0.007570,-0.011569
X13,0.017910,-0.035496,-0.003931,0.283228,1.000000,-0.076145,-0.006811,-0.013054,-0.024015,-0.025908,...,-0.177340,-0.058291,0.359450,-0.035722,-0.027961,0.054582,-0.024015,-0.005560,-0.006811,-0.010408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X380,0.012520,-0.012561,-0.001391,-0.025578,0.054582,0.007787,-0.002410,-0.004619,-0.008498,0.043621,...,-0.062756,-0.020628,-0.060764,-0.012641,-0.009895,1.000000,-0.008498,-0.001968,-0.002410,-0.003683
X382,-0.021581,-0.013108,-0.001452,-0.016991,-0.024015,0.000864,-0.002515,-0.004821,1.000000,0.066366,...,-0.065490,-0.021526,-0.063411,-0.013192,-0.010326,-0.008498,1.000000,-0.002053,-0.002515,-0.003844
X383,-0.001625,-0.003035,-0.000336,-0.006180,-0.005560,0.025212,-0.000582,-0.001116,-0.002053,-0.002215,...,-0.015163,-0.004984,0.008850,-0.003054,-0.002391,-0.001968,-0.002053,1.000000,-0.000582,-0.000890
X384,0.013948,-0.003717,-0.000412,-0.007570,-0.006811,0.030881,-0.000713,-0.001367,-0.002515,-0.002713,...,0.000420,-0.006105,0.020448,-0.003741,-0.002928,-0.002410,-0.002515,-0.000582,1.000000,-0.001090
X385,0.026357,-0.005681,-0.000629,-0.011569,-0.010408,0.047195,-0.001090,-0.002089,-0.003844,-0.004147,...,0.058691,-0.009330,-0.027482,-0.005717,-0.004475,-0.003683,-0.003844,-0.000890,-0.001090,1.000000

In [38]:
import numpy as np

In [39]:
lstdata=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]
lstdata

[[1, 2, 3], [3, 4, nan], [5, 6, nan], [nan, nan, nan]]

In [43]:
df=pd.DataFrame(lstdata)

In [44]:
df.tail

<bound method NDFrame.tail of      0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN>

In [45]:
df.head

<bound method NDFrame.head of      0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN>

In [47]:
from io import StringIO, BytesIO

In [48]:
data = ('col1,col2,col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')
data

'col1,col2,col3\nx,y,1\na,b,2\nc,d,3'

In [49]:
type(data)

str

In [51]:
StringIO()

In [52]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [53]:
df=pd.read_csv(StringIO(data), usecols=['col1', 'col3'])
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [54]:
df=pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ['COL1', 'COL3'])

In [57]:
df.to_csv('Test.csv')

In [58]:
data = ('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')

In [59]:
data

'a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11'

In [60]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [61]:
df=pd.read_csv(StringIO(data),dtype=object)

In [62]:
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [63]:
type(df)

pandas.core.frame.DataFrame

In [65]:
df['d'][2]

nan

In [66]:
df.dtypes

a    object
b    object
c    object
d    object
dtype: object